<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>PRODUCTOS</title>
        <style>
            table {
                border: 2px solid #000;
            }
            table tr {
                border: 2px solid #000;
            }
            table th {
                border: 2px solid #000;
            }
            table td {
                border: 2px solid #000;
            }
        </style>
    </head>
    <body>
      <ul>
        <li>
            <a href="/" >Inicio</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('auth.login') }}">Iniciar sesion</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url_for('auth.contactos') }}">Contactanos</a>
        </li>
        {% if  current_user.admin  %}
        <li> 
            <a href="{{ url_for('main.admin') }}">Administrador</a>
        </li>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('auth.register') }}">Registrarse</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('auth.logout') }}">{{current_user.name}}, Cerrar sesion</a>
      </li>
      {% endif %}
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>