bcrypt
colorama==0.4.4
dnspython==2.2.0
dominate==2.6.0
email-validator
email-validator==1.1.3
flask
flask-blueprint
Flask-Bootstrap==3.3.7.1
Flask-BS4==5.1.3.0
flask-marshmallow
flask-security
flask-sqlalchemy
Flask-WTF==1.0.0
Flask==2.0.2
html5==0.0.9
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lick
MarkupSafe==2.0.1
mysqlclient
six==1.16.0
visitor==0.1.3
webencodings==0.5.1
Werkzeug==2.0.3
WTForms==3.0.1
